<a href="https://colab.research.google.com/github/Manish1176/Machine-Learning-Project/blob/main/pthon_pattern_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = input('Enter name1:')
b = input('Enter name2:')
for i in range(len(a)):
    for j in range(len(b)):
        if a[i] == b[j]:
            print(a[i])
            break

Enter name1:manish
Enter name2:monish
m
n
i
s
h

In [ ]:
a=input('str1:')
b=input('str2:')
s1=set(a)
s2=set(b)
lst=s1 & s2
print(lst)

str1:manish
str2:monish
{'i', 'm', 'n', 's', 'h'}

In [ ]:
text = input('Enter a line:')
t1 = text.split()
d={}
for word in t1:
    if word not in d:
        d[word]=1
    else:
        d[word]+=1
print(d)

Enter a line:Shena loves eating apple and mango. Her sister also loves sating apple and mango.
{'Shena': 1, 'loves': 2, 'eating': 1, 'apple': 2, 'and': 2, 'mango.': 2, 'Her': 1, 'sister': 1, 'also': 1, 'sating': 1}

In [ ]:
key = [1,2,3]
value = ['one','two','three']
result = dict(zip(key,value))
print(result)

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
x={1: 'one', 2: 'two', 3: 'three'}
for i in x.items():
  print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [ ]:
a=[1,2,4,5,6,7]
n=a[-1]
total=n*(n+1)//2
sum1=sum(a)
print(total-sum1)

3

In [ ]:
n=5
for i in range(n): # denotes row
  for j in range(n): # denotes column
    print('*',end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print('',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print('',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()
for i in range(n):
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()
# In center we get two rows of same length but we need one common row for both upward and downward traingle ie in diamond shape

     *
    * *
   * * *
  * * * *
 * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
n=5
for i in range(n -1):
  for j in range(i,n):
    print('',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()
for i in range(n):
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()
# foe acheiving one common row we should delete one row from outer loop ie n-1

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
n=6
for i in range(n):
  for j in range(i+1):
    print(j+1,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
n=6
for i in range(n):
  for j in range(i,-1,-1):
    print(j+1,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [ ]:
n=6
for i in range(n):
  for j in range(i+1):
    print(i+1,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [ ]:
n=6
for i in range(n):
  for j in range(i+1):
    print(n-i,end=' ')
  print()

6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [ ]:
n=6
for i in range(n):
  for j in range(i+1):
    print(n-j,end=' ')
  print()

6
6 5
6 5 4
6 5 4 3
6 5 4 3 2
6 5 4 3 2 1

In [ ]:
n=6
for i in range(n):
  for j in range(i,-1,-1):
    print(n-j,end=' ')
  print()

6
5 6
4 5 6
3 4 5 6
2 3 4 5 6
1 2 3 4 5 6

In [ ]:
n = 5
for i in range(n):
  for j in range(n):
    print('*',end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print('1',end=' ')
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
n = 5
for i in range(n):
  for j in range(i,n):
    print('1',end=' ')
  print()

1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

In [ ]:
n = 5
for i in range(n):
  for j in range(i+1):
    print(i+1,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = 5
p =1
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p+=1
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(i,end=' ')
  print()

0 0 0 0 0
1 1 1 1
2 2 2
3 3
4

In [ ]:
n = 5
p=5
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if i % 2 == 0:
     print(1,end=' ')
    else:
      print(2,end=' ')
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if (i % 2 == 0):
      print('A',end=' ')
    else:
      print('B',end=' ')
  print()

A
B B
A A A
B B B B
A A A A A

In [ ]:
n=5
#p=1
for i in range(n):
  p=1
  for j in range(i+1):
    print(p,end=' ')
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(n):
  p=1
  for j in range(i+1):
    print('',end=' ')
  for j in range(i,n):
    print(p,end='')
    p+=1
  print()

 12345
  1234
   123
    12
     1

In [ ]:
n=5
for i in range(n):
  p=5
  for j in range(i+1):
    print(p,end=' ')
    p-=1
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [ ]:
n=5
for i in range(n): # This loop handle number of rows
  for j in range(i+1):  # This loop handle increasing blank spaces before each row
    print(' ',end=' ')
  p=5                  # This variable store first number place here bcos from this loop only we have start printed numbers
  for j in range(i,n): # This is internal loop handle columns and print number in decreasing manner
    print(p,end=' ')
    p-=1
  print()

  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i):
    print('*',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  p=1
  for j in range(i):
    print(p,end=' ')
    p+=1
  for j in range(i+1):
    print(p,end=' ')
    p-=1
  print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
n=4
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    print('*',end=' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i):
    print('*',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n-1):
    print('*',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n=5
for i in range(n-1):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i):
    print('*',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  for j in range(i,n-1):
    print('*',end=' ')
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print('1',end=' ')
  print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+1,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p+=1
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
p=5
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end=' ')
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if (i % 2 == 0):
      print('1',end=' ')
    else:
      print('2',end=' ')
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  p=1
  for j in range(i+1):
    print(p,end=' ')
    p+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
#num=65
for i in range(n):
  num=65
  for j in range(i+1):
    ch=chr(num)
    print(ch,end=' ')
    num=num+1
  print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
n=5
for i in range(n,0,-1):
  num=1
  for j in range(i):
    print(num,end=' ')
    num=num+1
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,6):
  print(i,end=' ')

1 2 3 4 5

In [ ]:
for i in range(1,6):
  print(i*i,end=' ')

1 4 9 16 25

In [ ]:
for i in range(1,11):
  if i % 2 == 0:
    print(i,end=' ')

2 4 6 8 10

In [ ]:
total=0
for i in range(1,11):
  total+=i
print(total)

55

In [ ]:
name='Python'
new_name=name[::-1]
print(new_name)

nohtyP

In [ ]:
word='Python'
for i in range(len(word)-1,-1,-1):
  print(word[i],end=' ')

n o h t y P

In [ ]:
vowels='aeiouAEIOU'
count=0
name=input('Enter name: ')
for i in name:
  if i in vowels:
    count+=1
print(count)

Enter name: manish
2

In [ ]:
#Fibbonacci Sieries
a=0
b=1
print(a,b,end=' ')
for i in range(8):
  next_term=a+b
  print(next_term,end=' ')
  a,b=b,next_term

0 1 1 2 3 5 8 13 21 34

In [ ]:
a=0
b=1
print(a,b,end=' ')
for i in range(8):
  next_term=a+b
  print(next_term,end=' ')
  a=b
  b=next_term

0 1 1 2 3 5 8 13 21 34

In [ ]:
n=5
product=1
for i in range(1,n+1):
  product*=i
print(product)

120

In [ ]:
#Prime Number
num=7
is_prime=True
for i in range(2,int(num**0.5)+1):
  if num % i == 0:
    is_prime=False
    break

if is_prime and num>1:
  print(num,'is prime number')
else:
  print(num,'is not a prime number')

7 is prime number

In [ ]:
word='manish'
char_count={}

for char in word:
  if char in char_count:
    char_count[char]+=1
  else:
    char_count[char]=1

# print(char_count)
for char,count in char_count.items():
  print(char+':',count)

m: 1
a: 1
n: 1
i: 1
s: 1
h: 1

In [ ]:
for i in range(10,16):
  print(i,end=' ')

10 11 12 13 14 15

In [ ]:
num=10
while num<=15:
  print(num,end=' ')
  num+=1

10 11 12 13 14 15

In [ ]:
number=1
while number <= 5:
  print(number ** 3,end=' ')
  number += 1

1 8 27 64 125

In [ ]:
number =1
while number <= 10:
  if number % 2 != 0:
    print(number,end=' ')
  number+=1

1 3 5 7 9

In [ ]:
number=1
product=1
while number <= 5:
  product*=number
  number+=1
print(product)

120

In [ ]:
sentence = 'Hello World'
words = sentence.split()
reversed_words = [word[::-1] for word in words]
reversed_sentence = ' '.join(reversed_words)
print(reversed_sentence)

olleH dlroW

In [ ]:
sentence='Hello World'
words=sentence.split()
for word in words:
  i=len(word)-1
  while i >= 0:
    print(word[i],end=' ')
    i-=1
  print(end=' ')

o l l e H  d l r o W

In [ ]:
word='learning'
count=0
index=0
vowels='aeiou'
while index < len(word):
  if word[index].lower() not in vowels and word[index].isalpha():
    count+=1
  index+=1
print(count)

5

In [ ]:
multiple=3
count=1
while count<=5:
  print(multiple,end=' ')
  multiple+=3
  count+=1

3 6 9 12 15

In [ ]:
num=int(input())
i=1
is_perfect_square=False
while i*i <= num:
  if i*i == num:
    is_perfect_square=True
    break
  i+=1
if is_perfect_square:
  print(num,'is perfect square')

16
16 is perfect square

In [ ]:
string=input()
char_to_count=input()
count=0
index=0
while index < len(string):
  if string[index] == char_to_count:
    count+=1
  index+=1
print(count)

success
c
2

In [2]:
for i in range(10,16):
  print(i,end=' ')

10 11 12 13 14 15

In [3]:
num=10
while num <= 15:
  print(num,end=' ')
  num+=1

10 11 12 13 14 15

In [4]:
for i in range(1,6):
  print(i**3,end=' ')

1 8 27 64 125

In [5]:
number = 1
while number <= 5:
  print(number ** 3,end=' ')
  number+=1

1 8 27 64 125

In [7]:
for i in range(1,11):
  if i % 2 != 0:
    print(i,end=' ')

1 3 5 7 9

In [8]:
number=1
while number <= 10:
  if number % 2 != 0:
    print(number,end=' ')
  number+=1

1 3 5 7 9

In [14]:
product=1
for i in range(1,6):
  product*=i
print(product)

120

In [15]:
number=1
product=1
while number <= 5:
  product*=number
  number+=1
print(product)

120

In [18]:
sentence='Hello World'
words=sentence.split()
reversed_sentence=[]
for word in words:
  reversed_sentence.append(word[::-1])
reversed_sentence=' '.join(reversed_sentence)
print(reversed_sentence)

olleH dlroW

In [19]:
sentence='Hello World'
words=sentence.split()
for word in words:
  i=len(word)-1
  while i >= 0:
    print(word[i],end=' ')
    i-=1
  print(end=' ')

o l l e H  d l r o W

In [22]:
word='learning'
vowels='aeiou'
for i in word:
  if i in vowels:
    print(i,end=' ')

e a i

In [36]:
word='learning'
vowels='aeiou'
count=0
for i in word:
  if i not in vowels:
    count+=1
    print(i,end=' ')
print(count)

l r n n g 5

In [38]:
word='learning'
count=0
vowels='aeiou'
index=0
while index < len(word):
  if word[index].lower() not in vowels:
    count+=1
  index+=1
print(count)

5

In [1]:
multiple=3
number=1
while number <= 5:
  print(multiple,end=' ')
  multiple+=3
  number+=1

3 6 9 12 15

In [7]:
number=81
for i in range(number):
  if i * i == number:
    print(number,'is a perfect square')
    break
else:
  print(number,'is not a perfect square')

81 is a perfect square

In [ ]:
string=input()
char_to_count=input()
count=0
index=0
while index < len(string):
  if string[index] == char_to_count:
    count+=1
  index+=1
print(count)

In [8]:
# Factorial
number=int(input())
factorial=1
for i in range(1,number+1):
  factorial*=i
print(factorial)

5
120

In [9]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n*factorial(n-1)
number=int(input())
print(factorial(number))

5
120